#bannerSlider img{
	min-height: 180px !important;
	max-height: 300px !important;
}
#today-deals-product img {
	max-width: 160px;
	max-height: 180px;
}
.vector-circle {
	 border-radius: 50% !important;
	 height: 100px;
	 max-width: 150px;
	 cursor: pointer;
}
.vector-circle img{
	max-width: 80%;
  	height: 55px;
}
.vector-tag-name {
	left: 22px;
	bottom: 15px;
	font-weight: bold;
}
main section:nth-child(2) div div:nth-child(1) p span span{
  	font-size: 1.4em;
  	font-weight: bold;
  	top: 8px;
  	letter-spacing: 1px;
  	left: -4px;
}
#tag-img{
	max-height: 35px;
	max-width: 30px;  
  	top: 5px;
  	left: -28px;
}
section#products img {
	max-height: 250px;
}
#vectors hr{
	width: 100%;
	border: 1px solid #dee2e6;
	top: 52%;
	left: 0;
}
div.orange45deg {
 	width: 0; 
	height: 0; 
	right: 0;
	border-top: 50px solid #ffcc00;
	border-left: 50px solid transparent;
}
div.green45deg {
 	width: 0; 
	height: 0; 
	right: 0;
	border-top: 50px solid #27C86C;
	border-left: 50px solid transparent;
}
.deg45span {
	font-weight: bold;
 	top: -35px;
	width: 40px;
	right: 0px;
	text-align: center;
	font-size: 10px;
	transform: rotate(45deg);
	display:block;
}
ul,ol {
	list-style: none;
	font-weight: 600;
}
div#nav2 {
	border-bottom-color: black !important;
}
input {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.nav-hr {
	height: 2px;
	background-color: black !important;
}
.col-sm-6:last-child img{
	padding-bottom: 20px;
}
section:nth-child(3) hr {
	width: 86%;
}
a {
	color: black;
}
a:hover {
	transition: color 0.15s ease-in-out,;
	color: orange;
}
.links-ul li:last-child a {
	color: white;
}
.links-ul li:last-child:hover {
	transition: background-color 0.15s ease-in-out;
	background-color: orange;
}
a.btn-outline-red {
	text-decoration-line: none;

}
a.btn-outline-red:hover {
	border-radius: 5px;
	text-decoration-line: none;
	box-shadow: 0px 2px 1px 0px #c1bebe;;
}
.cart-size {
  background-color: orange;
  color: #fff;
  padding: 3px 8px;
  border-radius: 50%;
  /*height: 20px;*/
}
.modal-buy-btn {
  background-color: #FFA500;
  color: #fff;
}
.modal-buy-btn:hover {
  background-color: #ff9800;
}
/*------Modal Section-----*/
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes drop-down {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes drop-down {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* The modal's background */
.custom-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The modal box */
.custom-modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.custom-modal-dialog .custom-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: drop-down; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: drop-down;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  /*float: right;*/
  /*font-size: 35px;*/
  font-weight: bold;
  color: #000;
}

.closebtn:hover,
.closebtn:focus {
  color: #FF4834;
  text-decoration: none;
  cursor: pointer;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
header {
  background-color: #/*5cb85c*/;
  font-size: 25px;
  color: white;
}

footer {
  /*background-color: #5cb85c;*/
  font-size: 20px;
  color: white;
}